<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}  {% endblock title %} </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'landingPage.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,800;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
</head>
<body>
    <div class="header">
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <img src="{% static 'logologo.png' %}" width = "150px">
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a href="{% url 'index:index' %}">Home</a></li>
                    <li><a href="{% url 'index:learn' %}">Get Started</a></li>
                    <li><a href="{% url 'index:communities' %}">Communities</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'index:contact' %}">Contact Us <i class="fas fa-user"></i></a></li>
                    <li><a href="{% url 'users:logout' %}">{{user.username}} || Logout <i class="fas fa-user"></i></a></li>
                    {% else %}
                    <li><a href="{% url 'users:register' %}">Login <i class="fas fa-user"></i></a></li>
                    {% endif %} 
                </ul>
            </nav>
            <li style="list-style: none;" class="menu-icon" onclick="menutoggle()"><i class="fas fa-bars"></i></li>
        </div>

{% block content %} {% endblock content %}

   <!-------- FOOTER --------->
    <div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Download Our App</h3>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
                <div class="app-logo">
                 <img src="{% static 'App1.png'%}">
                 <img src="{% static 'App2.png'%}">
             </div>
            </div>
            <div class="footer-col-2">
             <img src="{% static 'logologo.png'%}" width="170px">
             <p>Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet consectetur.</p>
           </div>
          <div class="footer-col-3">
             <div class="txt">
             <h3>Useful Links</h3>
             <ul>
                 <li>Coupons</li>
                 <li>Blog Post</li>
                 <li>Return Policy</li>
                 <li>Join Affiliate</li>
             </ul>
             </div>
             <div class="txt">
                 <h3>Follow us</h3>
                 <ul>
                     <li>Facebook</li>
                     <li>Twitter</li>
                     <li>Instagram</li>
                     <li>Youtube</li>
                 </ul>
              </div>
         </div>
    </div>
    <hr>
    <p class="copyright">Copyright &#169 2021 - PK</p>
</div>


<script src="{% static 'landingPage.js'%}"></script>
</body>
</html>

